<section id="footer">
    <div class="btn-computer-footer">
        <div class="container-footer">
            <div class="logo-header">
                <img src="assets\img\logo.svg" alt="Logo da IceCream" width="243" height="90">
            </div>

            <div class="nav-computer">
                <nav>
                    <ul>
                        <li>
                            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Início</a>
                        </li>

                        <li>
                            <a routerLink="/cardapio" routerLinkActive="active" ariaCurrentWhenActive="page">Cardápio </a>
                        </li>

                        <li>
                            <a href="/sobre">Sobre nós</a>
                        </li>

                        <li>
                            <a routerLink="/contato" routerLinkActive="active" ariaCurrentWhenActive="page">Entre em contato</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>Copyright 2024 - Todos os Direitos Reservados - IceCream Churros</p>
    </div>

</section>