<div class="scroll">
    <div class="container">
        <h1 class="titulo">
            Meu perfil
        </h1>
        <div class="usuario-card">
            <ul>
                <li>
                    <h3>Nome Completo: </h3>
                    <p>{{ usuario.nome | titlecase }}</p>
                </li>
                <li>
                    <h2>Informações pessoais</h2>
                </li>
                <li>
                    <h3>Email: </h3>
                    <p>{{usuario.email}}</p>
                </li>
                <li>
                    <h3>Telefone: </h3>
                    <p>{{usuario.telefone}}</p>
                </li>
            </ul>
            
            <div class="usuario-actions">
                <button class="button-style1 animacao1" fill="outline" shape="round" [routerLink]="['/']"
                    color="primary">Voltar  </button>

                    <button class="button-style1 animacao1" fill="outline" shape="round" [routerLink]="['/cardapio']"
                    color="primary">Cardápio </button>
            </div>
        </div>
    </div>