<section class="formulario">
    <div class="container-contato">
        <h1>Fale Conosco</h1>
                <br>
                <label for="campo-nome">Nome Completo:</label> 
                <input class="primeiro input" id="campo-nome" type="text"
                    placeholder="digite seu nome completo" required>
                    <br>
                <br>
                <label for="campo-email">Email:</label> 
                <input class="segundo input" id="campo-email" type="email" placeholder="digite seu email"
                    required>
                    <br>
                <br>
                <label for="campo-telefone"> Número do telefone:</label> 
                <input class="terceiro input" id="campo-telefone" type="passeword"
                    placeholder="digite seu telefone" required>
                <br>
                
                <div class="textearea-contato">
                <label class="msg ">Mensagem:</label>
        
                <textarea class="digito input" placeholder="digite sua mensagem" cols="15 linhas" rows="15 linhas"></textarea>
                </div>

                <br>
                <input class="bnt button-style2 animacao1" type="submit" value="Enviar"  >
                
    </div>
</section>