

    <div class="container-sobre">
        <main class="conteudo_textos">
            <h1 class="titulo_texto1"> Nossa História</h1>
            <p class="paragrafo_texto1">A empresa Icecream Churros surgiu no mundo da confeitaria para ser
                um projeto inovador, sendo com sobremesas diferentes que levam o
                consumidor além de suas simples expectativas sobre os produtos,
                que quando saboreados viram uma verdadeira explosão de sabores
                no paladar atendendo todos os tipos de gostos de cada consumidor
                tanto para aqueles que amam doces e os que amam algo salgado.
                Podendo até mesmo brincar com a montagem da massa do seu
                churros com diferentes formas geométricas, tudo que é gostoso
                em uma única junção, não tinha como melhorar! </p>

            <h1 class="titulo_texto2">Nossa missão?</h1>
            <p class="paragrafo_texto2">
                Nossa missão é levar a alegria dos churros e sorvete a todos os
                nossos clientes, Acreditamos que essa combinação única pode
                transformar qualquer momento em uma experiência memorável. Por
                isso, nos dedicamos a oferecer produtos que não só saciem o
                paladar, mas também proporcionem felicidade em cada mordida.
                Com foco em qualidade, inovação e atendimento personalizado,
                queremos ser a escolha número um quando se trata de churros com
                sorvete. </p>
        </main>
    </div>
   