<div class="scroll">
    <div class="container">
        <h1>Gerenciamento de produtos</h1>

        <div class="produto-list">
            <div class="produto-card" *ngFor="let produto of produtos">
                <div class="produto-header">
                    <h2><i class="fa-solid fa-user"></i> {{produto.nome}}</h2>
                    <p><i class="fa fa-id-badge"></i> Matricula: {{produto.matricula}}</p>
                </div>

                <div class="produto-info">
                    <p> <i class="fa fa-envelope"></i> Email: {{produto.email}}</p>
                    <p> <i class="fa fa-file-alt"></i> CPF: {{produto.cpf}}</p>
                    <p> <i class="fa fa-book"></i> Curso: {{produto.curso}}</p>
                </div>

                <div class="produto-actions">
                    <ion-button fill="outline" shape="round" [routerLink]="['/produtos/ver/', produto.id]" color="primary">
                        <i class="fa fa-eye"></i>
                        Ver detalhes
                    </ion-button>

                    <ion-button fill="outline" shape="round" [routerLink]="['/produtos/edit/', produto.id]"
                        color="tertiary">
                        <i class="fa fa-edit"></i>
                        Editar
                    </ion-button>

                    <button fill="outline" shape="round" (click)="excluirProduto(produto.id)" color="danger">
                        <i class="fa fa-trash-alt"></i>
                        Excluir
                    </button>



                </div>





            </div>
        </div>



    </div>

    <div class="produto-actions">
        <ion-button fill="outline" shape="round" [routerLink]="['/professores/listar/']" color="primary">Ir para
            gerenciamento de pedidos</ion-button>
    </div>

</div>