<section id="apresentacao">
    <main class="conteudo">
        <div class="video-background">
            <video autoplay loop muted playsinline>
                <source src="assets/video/video.mp4" type="video/mp4">
                Seu navegador não suporta o elemento de vídeo.
            </video>
            <div class="container-apresentacao">
                <div class="content">

                    <h1>IceCream Churros</h1>
                    <p>A união perfeita entre churros quentinhos e sorvetes gelados.</p>


                    <a routerLink="/cardapio" routerLinkActive="active" ariaCurrentWhenActive="page" class="animacao1">
                        <button>Descubra nossos sabores</button> </a>
                    <!-- <figure class="class">
                        <a href="http://instagram.com" target="_blank" rel="noopener noreferrer"> <img src=""
                                alt="Instagram" class="class" width="50"> </a>
                    </figure> -->
                </div>
            </div>
        </div>

    </main>
</section>

<section id="cardapio" class="cardapio">
    <div class="container-cardapio">
        <div class="titulo-cardapio">
            <h1 class="titulo">Veja Nosso Cardápio</h1>
            <p class="sub-titulo">Delícias Crocantes e Geladas Para Todos os Gostos!</p>
        </div>

        <div class="container-card-cardapio">
            <div class="card-cardapio card">
                <img class="style-card-c" src="assets/img/icon/Cone-de-churros.png" alt="Foto do Cardápio">
                <button class="button-style1 animacao1" (click)="goToCardapio()" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Cone de churros</button>
            </div>

            <div class="card-cardapio card">
                <img class="style-card-c" src="assets/img/icon/churros-tradicional.png" alt="Foto do Cardápio">
                <button class="button-style1 animacao1" (click)="goToCardapio()" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Churros Tradicional</button>
            </div>
        </div>
        <div class="img-cadapio">
        </div>
    </div>

</section>