<section id="cardapio" class="cardapio">

    <div class="container-cardapio">
        <div class="titulo-cardapio">
            <h1 class="titulo">Cardápio</h1>
            <p class="sub-titulo">Delícias Crocantes e Geladas Para Todos os Gostos!</p>
        </div>

        <div class="container-card-cardapio">
            <div class="card-cardapio card">
                <img class="style-card-c" src="assets/img/icon/Cone-de-churros.png" alt="Foto do Cardápio">
                <button class="button-style1 animacao1">Cone de churros</button>
            </div>

            <div class="card-cardapio card">
                <img class="style-card-c" src="assets/img/icon/churros-tradicional.png" alt="Foto do Cardápio">
                <button class="button-style1 animacao1">Churros Tradicional</button>
            </div>
        </div>

        <div class="cardapio">
            <h2>Cardápio</h2>
            <div class="produtos">
                <div *ngFor="let produto of produtos" class="produto-card">
                    <h3>{{ produto.nome }}</h3>
                    <p>Preço: {{ produto.preco | currency:'BRL' }}</p>
                    <p>Tipo: {{ produto.tipo }}</p>
                    <p>Sabor: {{ produto.sabor }}</p>
                    <button (click)="addToCart(produto)">Adicionar ao Carrinho</button>
                </div>
            </div>
            <a [routerLink]="['/carrinho']" class="cart-icon">
                <fa-icon [icon]="faShoppingCart"></fa-icon> Ir para o Carrinho
            </a>
        </div>
    </div>


</section>