#cardapio {}

.nome-produto {
    color: #FF3CB9;
    font-family: "Teko";
    font-size: 30.688px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.container-cardapio {
    max-width: 1180px;
    margin: auto;
}

.titulo {
    color: #FF3CB9;
    text-align: center;
    font-family: "Teko";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    padding-top: 90px;
}

.sub-titulo {
    color: #5A45A2;
    width: 100%;
    text-align: center;
    font-family: "Sulphur Point";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.style-card-c {
    width: 100%;
    border: 1px solid #FF3CB9;
}

.card-cardapio {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
}

.card-descricao {
    display: flex;
    background-color: rgba(219, 219, 219, 0.7);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    font-family: "Sulphur Point";
    color: #181616;
    padding: 10px;
    border-radius: 0px 0px 30px 30px;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    height: 150px;
}

.card-descricao h2 {
    font-size: 1.8rem;
    margin: 10px;
    color: #5946A3;
}

.card-descricao h3 {
    font-size: 1rem;
    margin: 10px;
    color: #5946A3;
}


.container-card-cardapio {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr;
    justify-content: space-evenly;
    
}

.img-cadapio {
    width: 100%;
    height: 436px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -90px;
    opacity: 0.5;
}

.produtos {
    display: flex;
    flex-direction: row;
}

label {
    font-family: "Sulphur Point";
    color: #3b0ecf;
    margin: 10px;
}

input[type="number"] {
    width: 60px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    transition: border-color 0.3s;
    margin-right: 10px;
}

/* Efeito ao focar no input */
input[type="number"]:focus {
    border-color: #ffffff;
    /* Cor azul no foco */
    outline: none;
}


@media (max-width: 748px) {

    .btn-computer,
    .nav-computer {
        display: flex;
    }

    .container-card-cardapio {
        display: grid;
        grid-template-columns: 0.1fr;
        padding: 14px 11px 15px 12px;
    }

    .mobile {
        display: none;
    }
}