<div class="admin-cardapio">
  
  <section id="cardapio" class="cardapio">
    
    <div class="container-cardapio">
      <div class="titulo-cardapio">
        <h1 class="titulo">Administração do Cardápio</h1>

        <button class="button-style2 button-add animacao1" (click)="adicionarProduto()">
          <fa-icon [icon]="faPlus"> </fa-icon>
          Adicionar Produto
        </button>
        </div>
        
        <div class="container-card-cardapio">
            <div class="card-cardapio card" *ngFor="let produto of produtos">
                <h1 class="nome-produto">{{ produto.nome }}</h1>
                <img class="style-card-c" src="{{ produto.imagemUrl }}" alt="Foto do Cardápio">
                <div class="card-descricao">
                    <div class="lado-esquerdo-descricao">
                      <h2> ID: {{ produto.id }}</h2>
                    <h3> Preço: {{ produto.preco | currency:'BRL' }}</h3>
                    <h3>Tipo: {{ produto.tipo }}</h3>
                    <h3>Sabor: {{ produto.sabor }}</h3>
                </div>
                
              </div>
              <div class="options-adm">
              <button class="button-style-remover animacao1 button-deletar" (click)="excluir(produto.id)">Remover</button>
              <button class="button-style2 animacao1 button-editar" (click)=" editarProduto(produto.id)">Editar</button>                      
              </div>
            </div>
            
        </div>
  
        </div>



        

</section>
  
          

    
   

