@import url(reset.css);
@import url(fonte.css);
@import url(header.css);
@import url(main.css);
@import url(contato.css);
@import url(cardapio.css);
@import url(scroll-bar.css);
@import url(footer.css);

.button-style1{
    color: #FFF;
    box-shadow: 0px 30px 60px -12px rgba(50, 50, 93, 0.25) inset, 0px 18px 36px -18px rgba(0, 0, 0, 0.30) inset;
    margin-top: 40px;
    width: 405.055px;
    height: 80.825px;
    font-family: "Teko";
    font-size: 30.688px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 30.688px;
    background: #FD44BB;
}

.button-style2{
    color: #FD44BB;
    box-shadow: 0px 30px 60px -12px rgba(50, 50, 93, 0.25) inset, 0px 18px 36px -18px rgba(0, 0, 0, 0.30) inset;
    margin-top: 40px;
    width: 405.055px;
    height: 80.825px;
    font-family: "Teko";
    font-size: 30.688px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 30.688px;
    border: 1px #000000 solid;
}

.button-style2:hover{
    color: #000000;
    box-shadow: 0px 30px 60px -12px rgba(253, 68, 187, 1) inset, 0px 18px 36px -18px rgba(0, 0, 0, 0.30) inset;
    margin-top: 40px;
    width: 405.055px;
    height: 80.825px;
    font-family: "Teko";
    font-size: 30.688px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 30.688px;
    border: 1px #FD44BB solid;
}

.animacao1 {
    transition: .5s;
}

.animacao1:hover {
    transform: scale(1.1);
}







