*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
  }
  html{
    scroll-behavior: smooth;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    min-width: 360px;
    line-height: 1;
    font-family: "Barlow Italic";
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  nav ul li {
    display: block;
    list-style-type: none;
    font-style: normal;
    list-style: none;
  }
  ul li a{
    text-decoration: none;
  }