@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');



*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
  }
  html{
    scroll-behavior: smooth;
  }
  body {
    background-color: Seashell;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    min-width: 360px;
    line-height: 1;
    font-family: "Barlow Italic";
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    user-select: none;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  nav ul li {
    display: block;
    list-style-type: none;
    font-style: normal;
    list-style: none;
  }
  ul li a{
    text-decoration: none;
  }

  .button-style1{
    color: #FFF;
    box-shadow: 0px 30px 60px -12px rgba(50, 50, 93, 0.25) inset, 0px 18px 36px -18px rgba(0, 0, 0, 0.30) inset;
    margin-top: 40px;
    width: 405.055px;
    height: 80.825px;
    font-family: "Teko";
    font-size: 30.688px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 30.688px;
    background: #FD44BB;
}

.button-style2{
    color: #FD44BB;
    box-shadow: 0px 30px 60px -12px rgba(50, 50, 93, 0.25) inset, 0px 18px 36px -18px rgba(0, 0, 0, 0.30) inset;
    margin-top: 40px;
    width: 405.055px;
    height: 80.825px;
    font-family: "Teko";
    font-size: 30.688px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 30.688px;
    border: 1px #000000 solid;
}

.button-style3{
  color: #FFF;
  box-shadow: 0px 30px 60px -12px rgba(50, 50, 93, 0.25) inset, 0px 18px 36px -18px rgba(0, 0, 0, 0.30) inset;
  margin-top: 40px;
  width: 90px;
  height: 50.825px;
  font-family: "Teko";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 30.688px;
  background: #ff2626;
}

.button-style2:hover{
    color: #000000;
    box-shadow: 0px 30px 60px -12px rgba(253, 68, 187, 1) inset, 0px 18px 36px -18px rgba(0, 0, 0, 0.30) inset;
    margin-top: 40px;
    width: 405.055px;
    height: 80.825px;
    font-family: "Teko";
    font-size: 30.688px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 30.688px;
    border: 1px #FD44BB solid;
}

.animacao1 {
    transition: .5s;
}

.animacao1:hover {
    transform: scale(1.1);
}

.swal2-title {
  font-family: "Sulphur Point", sans-serif;
}

.swal2-confirm{
  font-family: "Teko", sans-serif;
  color: #f8f8f8;
  background-color: #FD44BB;
}


::-webkit-scrollbar {
  display: none;
  width: 8px; 
}

::-webkit-scrollbar-track {
  background-color: #ffffff; 
}


::-webkit-scrollbar-thumb {
  background-color: #888; 

}

::-webkit-scrollbar-button {
 
}
