.container-apresentacao {
    width: 100%;
    height: 100vh;
    max-width: 1180px;
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

.video-background {
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.video-background video {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.video-background {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-column: 12;
}



.video-background .content {
    width: 500px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    color: #fff;
}

.video-background .content h1 {
    color: #fff;
    font-family: "Teko";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;

}

.video-background .content p {
    color: #b7a1ff;
    font-family: "Teko";
    font-size: 20.694px;
    font-style: normal;
    font-weight: 400;
    line-height: 39.694px;

}

.video-background .content button {
    color: #FFF;
    box-shadow: 0px 30px 60px -12px rgba(50, 50, 93, 0.25) inset, 0px 18px 36px -18px rgba(0, 0, 0, 0.30) inset;
    margin-top: 40px;
    width: 405.055px;
    height: 80.825px;
    font-family: "Teko";
    font-size: 30.688px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 30.688px;
    background: #FD44BB;
}

.video-background .content button:hover {
    background-color: #ffbbe7;
    color: black;
}

.video-background .content figure {
    margin-top: 10px;

}

#cardapio {
    width: 100%;
    height: 1270px;
}

.container-cardapio {
    width: 100%;
    height: 100vh;
    max-width: 1180px;
    margin: auto;
    display: block;
    flex-direction: column;
    justify-content: center;
}


.titulo {
    color: #FF3CB9;
    text-align: center;
    font-family: "Teko";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    padding-top: 90px;

}

.sub-titulo {
    color: #5A45A2;
    width: 100%;
    text-align: center;
    font-family: "Sulphur Point";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.style-card-c {
    width: 406px;
    height: 507px;
    border: 1px solid #FF3CB9;
    padding: 14px 11px 15px 12px;
}

.card-cardapio {
    width: 406px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.container-card-cardapio {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr;
    /* Ajustado para frações */
    justify-content: space-evenly;
    padding: 14px 11px 15px 12px;
}

.img-cadapio {
    width: 100%;
    height: 436px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 350px;
    margin-top: -90px;
    opacity: 0.5;
}

@media (max-width: 720px) {

    .container-card-cardapio {
        display: grid;
        grid-template-columns: 0.1fr;
        padding: 14px 11px 15px 12px;
    }

    .video-background video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translate(-50%, -50%);
        z-index: -1;

    }
}